//SECCIÓN DE ESTILOS PARA EL NAVBAR
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}  //acomodamos el navbar para que se vea bien en la pantalla
.nav-links {
  display: flex;
  gap: 2rem;
} //un gap para que los links no se vean pegados entre sí
.hero {
  padding: 6rem 3rem;
}//le damos espacio interno al Hero, para que no quede pegado al navbar

.hero-content {
  max-width: 600px;
}//evitamos que el párrafo se estire por toda la pantalla
.hero h1 {
  font-size: 3.5rem;
  margin-bottom: 1rem;
} //jerarquía visual, el h1 es más grande que el h2, y le damos un margen para separar el título de lo demás
.hero h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5rem;//vuelve a controlar el espacio entre el subtítulo y el párrafo.
}
