<!--Contenido del navbar-->
<header>
  <nav>
    <div class="nav-logo">
      <a href="#inicio">VG</a>
    </div>

    <div class="nav-links">
      <a href="#proyectos">Proyectos</a>
      <a href="#contacto">Contáctame</a>
    </div>
  </nav>
</header>
<!--Contenido principal-->
<main>
 <section id="inicio" class="hero">
  <div class="hero-content">
    <h1>Hola, soy Valentina</h1>

    <h2>Desarrolladora de software en formación</h2>

    <p>
      Me gusta crear soluciones web funcionales y cuidadas,
      mientras sigo aprendiendo y explorando nuevas tecnologías.
    </p>

    <a href="#proyectos">Proyectos</a>
  </div>
</section>
<app-projects></app-projects>
  <section id="contacto">
    <h2>Contáctame</h2>
  </section>
</main>
