<section id="contacto" class="contact">

  <h2>Contáctame</h2>

  <p class="contact-description">
    Si quieres conversar sobre un proyecto, una oportunidad laboral
    o simplemente saludar, puedes encontrarme aquí.
  </p>

  <div class="contact-links">

   <a href="mailto:correo@ejemplo.com">
  <i class="fa-solid fa-envelope"></i>
  Email
  </a>

  <a href="https://github.com/" target="_blank">
  <i class="fa-brands fa-github"></i>
  GitHub
  </a>

  <a href="https://linkedin.com/" target="_blank">
  <i class="fa-brands fa-linkedin"></i>
  LinkedIn
  </a>

  </div>

</section>
