.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem 2rem;

  position: sticky;
  top: 0;

  background: rgba(255,255,255,.75);
  box-shadow: 0 4px 20px rgba(0,0,0,.05);
  backdrop-filter: blur(12px);
  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: #111;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap:2.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color .2s;
}

.nav-links a:hover {
  color: #000;
}
span{
    color:#7C3AED;
}
a{
    position:relative;
}
