.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1.25rem 2rem;

  position: sticky;
  top: 0;

  background: white;

  z-index: 1000;
}

.logo {
  text-decoration: none;
  color: #111;
  font-size: 1.5rem;
  font-weight: 700;
}

.nav-links {
  display: flex;
  gap: 2rem;
}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color .2s;
}

.nav-links a:hover {
  color: #000;
}
