/* You can add global styles to this file, and also import other style files */
html {
  scroll-behavior: smooth;
}
body{
    font-family: "Poppins", sans-serif;
    background: #FAFAFA;
    color:#111827;
}
