//COMIENZA LA SECCIÓN DE PROYECTOS

.projects {
  padding: 4rem 3rem;
}

.projects h2 {
  margin-bottom: 2rem;
}
.projects-grid { //da estilo a cada tarjeta
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}
@media (max-width: 768px) { //dejar una sola columna en pantallas pequeñas
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

