/* ===========================
   HERO
=========================== */

.hero {
  /* Hace que el Hero ocupe casi toda la pantalla */
  min-height: calc(100vh - 80px);

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 5rem;
  gap: 4rem; //Espacio entre el texto y la imagen
}

/* ===========================
   COLUMNA IZQUIERDA
=========================== */

.hero-content {
  flex: 1;
  max-width: 600px;
}

/*Texto pequeño superior */

.hero-content span {
  font-size: 1rem;
  color: #666;
}

/*Nombre */

.hero h1 {
color:#111827;

font-size:5rem;

font-weight:700;

line-height:1.1;
}

/*Profesión */

.hero h2 {
  font-size: 2rem;
  font-weight: 500;
  color:#374151;
  line-height: 1.4;
  margin-bottom: 2rem;
}

/*Descripción */

.hero p {
  font-size: 1rem;
  line-height: 1.8;
  color: #6B7280;

  margin-bottom: 2rem;
}

/* ===========================
   BOTÓN
=========================== */

.hero-button {
  display: inline-block;
  box-shadow:0 10px 25px rgba(124,58,237,.25);
  padding: 0.9rem 1.8rem;
  margin-bottom: 2rem;

  background-color: #5a22ba;
  color: white;
  text-decoration: none;

  border-radius: 8px;

  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #333;
  transform:translateY(-4px);
  box-shadow:0 15px 35px rgba(124,58,237,.35);
}

/* ===========================
   COLUMNA DERECHA
=========================== */

.hero-image {
  flex: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Imagen */

.hero-image img {
  width: 600px;
  max-width: 100%;
  animation: float 4s ease-in-out infinite;

}

/* ===========================
   TECNOLOGÍAS
=========================== */

.hero-stack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}
.hero-stack span {
  padding: .55rem 1rem;
  border-radius: 999px;
  background: white;
  border: 1px solid #E5E7EB;
  transition: all .3s ease;
}
.hero-stack span:hover {
  background: #7C3AED;
  color: white;
  border-color: #7C3AED;
}
span{
color:#7C3AED;
}
@keyframes float{//Animación

    0%{
        transform:translateY(0);
    }

    50%{
        transform:translateY(-12px);
    }

    100%{
        transform:translateY(0);
    }

}
